.button {
  background: $bBackground;
  color: $cText;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s;
  outline: none;
  &:hover {
    background: $cBackOn;
  }
  &:active {
    background: $cActive;
  }
  &:disabled {
    background-color: rgb(168, 168, 168);
    border: 1px solid #999;
  }
}
