.cardBase {
  background-color: $cBackground;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.06);
  margin: 20px auto;
  border-radius: 5px;
  max-width: 1200px;
  width: 80%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-family: "ptSans";
  @include tablet {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  @include mobile {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .topBar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.06);
    margin: 0 0 15px 0;
    padding: 15px;
    .lense {
      width: 100%;
      display: flex;
      flex-direction: row;
      input {
        width: 100%;
        border: none;
        outline: none;
      }
      img {
        max-height: 20px;
        max-width: 20px;
      }
    }
  }
}
