header {
  width: 100%;
  background: $cBackground;
  height: 70px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  nav {
    display: flex;
    position: relative;
    align-items: center;
    font-family: "ptSans";
    max-width: 1280px;
    margin: 0 auto;
    @include tablet {
      justify-content: space-between;
    }
    .nav-toggle {
      display: none;
      @include mobile {
        padding: 4px 8px;
        cursor: pointer;
        transition: 300ms ease;
        display: inline;
        align-items: center;
        justify-content: center;
      }
      .menu {
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 70px;
        padding-top: 20px;
      }
      .menu span {
        margin: 0 auto;
        position: relative;
        top: 12px;
      }
      .menu span:before,
      .menu span:after {
        position: absolute;
        content: "";
      }
      .menu span,
      .menu span:before,
      .menu span:after {
        width: 30px;
        height: 6px;
        background-color: #000;
        display: block;
      }
      .menu span:before {
        margin-top: -12px;
      }
      .menu span:after {
        margin-top: 12px;
      }
      .example span {
        -webkit-transition-duration: 0s;
        transition-duration: 0s;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
      .example.active span {
        background-color: rgba(0, 0, 0, 0);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
      .example span:before {
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
      }
      .example.active span:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
      }
      .example span:after {
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
      }
      .example.active span:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.2s;
        transition-delay: 0s, 0.2s;
      }
    }
    .logo {
      width: 50px;
      height: 50px;
      margin: 10px 15px 10px 50px;
      @include mobile {
        margin-left: 15px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    a {
      text-decoration: none;
      color: $cTextHeader;
    }
    .header__nav {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: center;
      @include mobile {
        position: absolute;
        top: 55px;
        height: 70px;
        width: 100%;
        background: #fff;
        box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.06);
        &.hidden {
          display: none;
        }
        a {
          display: block;
          padding: 10px;
          text-align: center;
          border-bottom: 1px solid #111;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
      li {
        list-style: none;
        margin: 0 20px;
        transition: 0.15s;
        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}
