.canvasWrapper{
  max-width: 900px;
  max-height: 900px;
  overflow: scroll;
  .canvas{
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  }
}

.card {
  background-color: $cBackground;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.06);
  margin: 20px 10px;
  border-radius: 5px;
  max-width: 1200px;
  width: 90%;
  height: 80%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "ptSans";
  align-items: stretch;
  h1 {
    width: 100%;
  }
  .mainContent {
    flex: 1 1 600px;
    height: auto;
  }
  @include tablet {
    flex-wrap: wrap;
  }
  @include mobile {
    margin: 20px 5px;
  }
  .textMain {
    font-size: 16px;
    margin: 0 20px 0 0;
  }
  .imageWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .imgDownload {
      display: flex;
      overflow: hidden;
      position: relative;
      flex: 0 0 240px;
      border-radius: 5px;
      margin: 10px 10px;
      width: 240px;
      height: 240px;
      justify-content: center;
      align-items: center;
      .overlay {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        max-width: 240px;
        max-height: 240px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #888;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    @include tablet {
      justify-content: center;
      .imgDownload {
        width: 200px;
        height: 200px;
        flex: 0 0 200px;
      }
    }
    @include mobile {
      flex-wrap: wrap;
    }
  }
  .bMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    .inputWraper {
      position: relative;
      input {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        user-select: none;
      }
      .bUpload {
        padding: 15px 60px;
      }
      &:hover {
        .bUpload {
          background: $cBackOn;
        }
      }
      &:active {
        .bUpload {
          background: $cActive;
        }
      }
    }
  }
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: 300px;
    min-width: 200px;
    .result {
      display: flex;
      text-align: center;
      flex-direction: column;
      background-color: $cBackground;
      border: 1px solid rgba(0, 0, 0, 0.26);
      margin: 20px auto;
      box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.06);
      width: 100%;
      border-radius: 5px;
      max-width: 300px;
      min-width: 200px;
      height: auto;
      .sError {
        color: #e84c3d;
      }
      .more {
        display: block;
        width: 100%;
        border-radius: 0px;
      }
    }
    .bresult {
      padding: 15px auto;
      width: 100%;
    }
  }
}
