.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
  backdrop-filter: blur(2px);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  z-index: 0;
  padding: 20px;
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-height: 80vh;
    width: 80%;
    overflow: hidden auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: center;
    @include mobile {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
    .contantWrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      .imgModal {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 500px;
        width: 100%;
        min-height: auto;
        min-width: auto;
        flex-shrink: 0;
        flex-grow: 0;
        @include tablet {
          width: 100%;
        }
        @include mobile {
          width: 100%;
        }
        .imgDownload {
          display: flex;
          overflow: hidden;
          position: relative;
          flex: 0 0 240px;
          border-radius: 5px;
          margin: 10px 10px;
          justify-content: center;
          align-items: center;
          @include tablet {
            justify-content: center;
            .imgDownload {
              width: 200px;
              height: 200px;
              flex: 0 0 200px;
            }
          }
          @include mobile {
            flex-wrap: wrap;
          }
          .overlay {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            border-width: 1px;
            border-style: solid;
            border-color: #888;
          }
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
  .table {
    width: 100%;
    display: block;
    margin: 0 auto 15px;
    tr {
      display: inline-block;
      width: 100%;
      th {
        display: inline-block;
        width: 33%;
      }
      td {
        display: inline-block;
        text-align: center;
        width: 33%;
      }
    }
  }
  .results {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: $cBackground;
    border: 1px solid rgba(0, 0, 0, 0.26);
    margin: 10px 5px;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.06);
    max-width: 500px;
    height: 100%;
    min-width: 200px;
    height: 500px;
    flex-grow: 1;
    border-radius: 5px;
    @include tablet {
      justify-content: center;
      width: 40%;
      margin: 20px 0;
      .imgDownload {
        width: 200px;
        height: 80%;
        flex: 0 0 200px;
      }
    }
    @include mobile {
      flex-wrap: wrap;
    }
  }
  .buttonBack {
    width: 100px;
    align-self: flex-start;
  }
}
