$bBackground: #3acbc7;
$cBackOn: #6adbd8;
$cActive: #99ecea;
$cText: #fff;
$cBackground: #ffffff;
$cTextHeader: #464646;

@mixin standard {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
