@import "./utils";
@import "./header";
@import "./app";
@import "./font";
@import "./main";
@import "./button";
@import "./about";
@import "./dataBase";
@import "./modal";
@import "./specification";

body {
  margin: 0;
  font-family: "ptSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.root {
  min-height: 100vh;
  background-color: #f5f6f8;
}
